[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/rohrbachsci"]
	path = themes/rohrbachsci
	url = https://github.com/zjrohrbach/hugo-rohrbachsci.git
