<FilesMatch "admin\.php|db_initialize\.php|functions\.php">
    AuthName "Password Required"
    AuthType Basic
    AuthUserFile /home/zjrohrbach/.htpasswd
    Require valid-user
</FilesMatch>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?goto=$1
