{{ define "extra-head-matter" }}
    <style>
        /*tweetbox style*/
        #tweetbox {
            width: 200px;
            height: 500px;
            padding: 10px;
            overflow: scroll;
            float: right;
        }

        /* adjustments due to the size of the tweetbox */
        .index-special > a {
            width: 200px;
        }
        .right {
            right: 250px;
        }
    </style>
{{ end }}

{{ define "main-content" }}

<a href="#"><h1 id="section-title">{{ .Title }}</h1></a>

<aside id="tweetbox">
    <a class="twitter-timeline" data-theme="dark" href="https://twitter.com/rohrbachsci?ref_src=twsrc%5Etfw">
    Tweets by rohrbachsci</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
</aside>

{{- .Content -}}


<h1>Recent Posts</h1>
<div class="list-container index-special">
    {{ $n_posts := $.Param "recent_posts_number" | default 5 }}
    {{/* Range through the first $n_posts items of the section */}}
    {{/* Thanks to Ananke theme for helping me figure out how to do this*/}}    
    {{ range (first $n_posts .Site.RegularPages) }}
        <a href="{{ .Permalink }}">
            <h1>{{ .Title }}</h1>
            <h2>{{ .PublishDate.Format "Jan 02, 2006" }}</h2>
            <h3>{{ range .Params.tags }} ({{- . -}}) {{end}}</h3>
            <p>{{ .Description }}</p>
            <div class="mini-section-title">{{ with .Site.GetPage .Section }}{{ .Title }}{{ end }}</div>
        </a>
    {{ end }}
    <div class="spacer"></div>
    <div class="fade-block right"></div>
    <div class="fade-block left"></div>
</div>

{{ end }}