{{ define "extra-head-matter" }}
    <style>
        #tweetbox {
            display: none;
        }
        @media only screen and (min-width: 768px) {
            /*tweetbox style*/
            #tweetbox {
                width: 200px;
                padding: 10px;
                overflow: scroll;
                float: right;
                display: block;
                height: {{ .Param "height_of_tweetbox" | default "500px" }};
            }

            /* adjustments due to the size of the tweetbox */
            .index-special > div.ind-article {
                width: 250px;
                height: 280px;
            }
            .right {
                right: 250px;
            }
        }
        
        
    </style>
{{ end }}

{{ define "main-content" }}

<a href="#"><h1 id="section-title">{{ .Title }}</h1></a>

<aside id="tweetbox">
    <a class="twitter-timeline" data-theme="dark" href="https://twitter.com/rohrbachsci?ref_src=twsrc%5Etfw">
    Tweets by rohrbachsci</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
</aside>

<h1>Recent Posts</h1>

{{ partial "article-list-index-special.html" . }}

{{- .Content -}}

{{ end }}