#contact-info {
    text-align: center;
    background-image: linear-gradient(#469646, transparent);
    border-radius: 50px;
    border-style: solid;
    border-color: #469646;
    border-width: 2px;
    width: 95%;
    margin: auto;
}

#contact-info p, #contact-info a {
    font-family: Verdana, serif;
}

#contact-info svg {
    fill: blue;;
}
#contact-info svg:hover {
    fill: green;
}

.no-underline a:hover {
    text-decoration: none;
}